:root {
  --color-main: 4, 148, 103; /* #049467; */
  --color-main-dark: 4, 121, 88; /* #047958; */
  --color-main-light: 7, 160, 112; /* #07A070 */
  --color-fondo-1: 245, 250, 250; /* #F5FAFA; */
  --color-fondo-2: 223, 242, 237; /* #DFF2ED; */
  --color-texto: 69, 78, 82; /* #454E52; */
  --color-lineas: 226, 235, 240; /* #E2EBF0; */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Calibri', Roboto, sans-serif;
    height: 100dvh;
    overflow: hidden;
    color: rgb(var(--color-texto));
}

hr {
    border: 1.5px solid rgb(var(--color-lineas));
    margin: 24px 0;
}

.main-container {
    display: flex;
    height: 100dvh;
    padding-top: 60px;
}

/* HEADER */

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background: linear-gradient(90deg, rgb(var(--color-main)) 0%, rgb(var(--color-main-dark)) 100%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    font-size: 1.5rem;
    font-weight: 300;
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.header-left {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-emoji {
    font-size: 2rem;
    margin-top: -4px;
}

.header-title {
    font-size: 2rem;
    font-weight: bold;
}

.header-version {
    font-size: 0.9rem;
    font-style: italic;
    opacity: 0.48;
    margin-top: 12px;
}

.btn-toggle-view {
    background-color: rgba(255,255,255,.12);
    color: white;
    font-size: .9rem;
    padding: 8px 20px;
    border-radius: 8px;
    cursor: pointer;
    display: none;
}

/* DATOS */

.datos {
    width: 400px;
    background: rgb(var(--color-fondo-1));
    overflow-y: auto;
    padding: 20px;
    flex-shrink: 0;
}

.datos h2 {
    margin-bottom: 15px;
    font-size: 2rem;
    color: rgb(var(--color-texto));
}

.form-group {
    margin-bottom: 16px;
}

.form-row {
    display: flex;
    align-items: center;
    gap: 16px;
}
.form-row p {
    font-weight: bold;
    font-size: 0.9rem;
    width: 72px;
}

.form-group label {
    display: block;
    margin-bottom: 4px;
    font-size: 0.9rem;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 12px 15px;
    border: 2px solid rgb(var(--color-lineas));
    border-radius: 8px;
    background: white;
    color: rgb(var(--color-texto));
    font-size: 0.9rem;
    outline: none;
}

.form-group input:focus,
.form-group select:focus {
    box-shadow: 0 0 0 2px rgb(var(--color-main));
    border: 2px solid white;
}

.form-group select {
    cursor: pointer;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="%23666" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 20px;
}

.datos-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.datos-titulo {
    font-size: 2rem;
    font-weight: bold;
    margin: 0;
}

.btn-toggle {
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: rgb(var(--color-fondo-1));
    border: 2px solid rgb(var(--color-lineas));
    color: rgb(var(--color-texto));
    padding: 8px 15px;
    border-radius: 8px;
    font-size: 0.9rem;
    cursor: pointer;
    outline: none;
    margin-top: -16px;
}

.btn-toggle:hover {
    background-color: rgb(var(--color-lineas));
}

.btn-toggle.active {
    background: rgb(var(--color-main));
    color: white;
    border-color: rgb(var(--color-main));
}
.btn-toggle.active:hover {
    background: rgb(var(--color-main-dark));
    color: white;
    border-color: rgb(var(--color-main-dark));
}

.section-content.hidden {
    display: none;
}

.checkbox {
    width: 18px;
    height: 18px;
    cursor: pointer;
    accent-color: rgb(var(--color-main));
    box-shadow: none !important;
}

/* Check de Extras */

.check-container {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 15px;
    border: 2px solid rgb(var(--color-lineas));
    border-radius: 8px;
    background: white;
    color: rgb(var(--color-texto));
    font-size: 0.9rem;
    cursor: pointer;
    user-select: none;
  }

  .check-container input[type="checkbox"] {
    cursor: pointer;
  }

  /* check activo */

  .check-container input[type="checkbox"]:checked {
    accent-color: rgb(var(--color-main));
  }

  .check-container:has(input[type="checkbox"]:checked) {
    border-color: rgb(var(--color-main));
    background-color: rgb(var(--color-fondo-2));
    font-weight: bold;
}

  .check-text {
    font-size: 0.9rem;
    color: rgb(var(--color-texto));
  }



.btn-generar {
    width: 100%;
    padding: 10px;
    background: linear-gradient(90deg, rgb(var(--color-main-dark)) 0%, rgb(var(--color-main)) 50%, rgb(var(--color-main-dark)) 100%);
    box-shadow: 0 4px 16px rgba(var(--color-main), .24);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.2rem;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.btn-generar:hover {
    background: linear-gradient(90deg, rgb(var(--color-main)) 0%, rgb(var(--color-main-light)) 50%, rgb(var(--color-main)) 100%);
    box-shadow: 0 6px 16px rgba(var(--color-main), .4);
}
.btn-generar:active {
    background: rgb(var(--color-main));
}

/* RESULTADO */

.contenido-derecha {
    flex: 1;
    display: flex;
    flex-direction: column;   
}

.barra-botones {
    display: flex;
    background-color: white;
    border: 1px solid rgb(var(--color-lineas));
    padding: 24px;
    justify-content: space-between; /* separa el primer grupo del último botón */
    align-items: center;
}

.area-resultado {
    background-color: rgb(var(--color-fondo-2));
    padding: 32px;
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

.resultado-carta {
    background: white;
    padding: 48px;
    border-radius: 8px;
    max-width: 1024px;
    margin: 0 auto;
    box-shadow: 0 4px 12px rgba(var(--color-main-dark),0.16);
}

.resultado-carta p {
    font-size: 1rem;
}


.btn_registro_datos {
    padding: 12px 28px;
    border-radius: 8px;
    font-size: 0.9rem;
    background-color: white;
    color: rgb(var(--color-texto));
    border: 1px solid rgb(var(--color-lineas));
    cursor: pointer;
}
.btn_registro_datos:hover {
    background-color: rgb(var(--color-lineas));
}
#btn_registro_datos::before {
    content: "📊 Registro de Datos";
}


.btn_generar_pdf {
    padding: 12px 28px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: .9rem;
    color: white;
    background: linear-gradient(90deg, rgb(var(--color-main-dark)) 0%, rgb(var(--color-main)) 50%, rgb(var(--color-main-dark)) 100%);
    box-shadow: 0 4px 16px rgba(var(--color-main), .24);
}

.btn_generar_pdf:hover {
    background: linear-gradient(90deg, rgb(var(--color-main)) 0%, rgb(var(--color-main-light)) 50%, rgb(var(--color-main)) 100%);
    box-shadow: 0 6px 16px rgba(var(--color-main), .4);
}


.btn_copy_main {
    padding: 12px 28px;
    border-radius: 8px;
    cursor: pointer;
    font-size: .9rem;
}
.btn_copy_main::before {
        content: "📋 Copiar Texto";
    }

.btn_copy_default {
    color: rgb(var(--color-texto));
    border: 1px solid rgb(var(--color-lineas));
    color: rgb(var(--color-texto));
    background: white;
}
.btn_copy_default:hover {
    background-color: rgb(var(--color-lineas));
}

.btn_copy_used {
    background-color: rgb(var(--color-fondo-2));
    border: 1px solid rgb(var(--color-main));
    color: rgb(var(--color-main));
}

/* Toast de Copy */
.toast-copy {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: rgb(var(--color-main));
    color: white;
    padding: 14px 24px;
    border-radius: 8px;
    font-size: .9rem;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.4s, transform 0.4s;
    pointer-events: none;
  }

  .toast-copy.show {
    opacity: 1;
    transform: translateY(0);
  }



.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Black with 50% opacity */
    z-index: 9999; /* Always on top */
    display: flex;
    align-items: center;
    justify-content: center;
}
.overlay.hidden {
    display: none;
}
.registroDatos-container {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(var(--color-main-dark), 0.3);
    max-width: 400px;
    width: 90%;
    max-height: 80dvh;
    overflow-y: auto;
}
#registroDatos {
    line-height: 1.5;
}

/* Estilo de Texto de Carta */
.resultado-carta {
    color: rgb(var(--color-texto));
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}
.resultado-carta h2 {
    font-size: 16px;
    margin-bottom: 8px;
}
.resultado-carta p {
    font-size: 12px;
    font-weight: normal;
}

.resultado-carta .page-break {
    display: none;
}

/* Estilos para el scrollbar */
.datos::-webkit-scrollbar,
.area-resultado::-webkit-scrollbar,
.registroDatos-container::-webkit-scrollbar {
    width: 8px;
}

.datos::-webkit-scrollbar-track,
.area-resultado::-webkit-scrollbar-track,
.registroDatos-container::-webkit-scrollbar-track {
    background-color: rgb(var(--color-fondo-1));
    border-radius: 4px;
}

.datos::-webkit-scrollbar-thumb,
.area-resultado::-webkit-scrollbar-thumb,
.registroDatos-container::-webkit-scrollbar-thumb {
    background-color: rgb(var(--color-main));
    border-radius: 4px;
}

.datos::-webkit-scrollbar-track,
.area-resultado::-webkit-scrollbar-track,
.registroDatos-container::-webkit-scrollbar-track {
    background-color: rgb(var(--color-fondo-1));
}


/* Responsive */
@media (max-width: 1024px) {

    .main-container.show-result .datos {
        display: none;
    }
    .main-container.show-result .contenido-derecha {
        display: flex;
    }
    .datos {
        width: 100%;
    }
    .header-emoji {
        font-size: 1.3rem;
    }
    .header-title {
        font-size: 1.3rem;
        font-weight: bold;
    }
    .header-version {
        font-size: .8rem;
        margin-top: 6px;
    }    
    .contenido-derecha {
        display: none;
    }
    .btn-toggle-view {
        display: block;
    }

    #btn_registro_datos::before {
        content: "📊";
    }
    .btn_copy_main::before {
        content: "📋";
    }

    .area-resultado {
    padding: 12px;
    }
    .resultado-carta {
        padding: 28px;
    }
    .barra-botones {
        padding: 12px;
    }
    .header-left {
        gap: 4px;
    }
    .datos h2 {
        font-size: 1.3rem;
    }
    .resultado-carta p {
    font-size: .8rem;
}

}